.vscode/

# ----------------------------------------------
# Backend
.idea/
backend/.venv/
backend/build_run_container.txt
# store
backend/app/store/
#!backend/app/store/
#!backend/app/store/NER-Models/
!backend/app/store/NER-Models/base_models_metadata.json
!backend/app/store/NER-Models/base_models_metadata_for_container.json
#!backend/app/store/NER-Models/base/
#!backend/app/store/NER-Models/base/spacy_bert_base/
!backend/app/store/NER-Models/base/spacy_bert_base/config.cfg

# Frontend
frontend/build_run_container.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Environments (falls nicht schon global ignoriert)
.venv/
venv/
env/
backend/.venv/  # Falls dein venv im backend liegt, sonst entsprechend anpassen

# Flask instance folder (falls du sowas benutzt)
instance/

# Logfiles
*.log

# Werkzeug debug files
*.pyc
*.pyo

# IDE-spezifisch (VSCode)
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Wenn du Datenbankdateien lokal hast (SQLite z.B.)
*.sqlite3

# Dateien mit sensiblen Daten oder Secrets
.env
