.window {
    display: none;
}

.window.active {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.content {
    grid-column: 2
}

.editable {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
  }